html {
  font-size: 1.5em;
  /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  font-family: 'Roboto Condensed', sans-serif;
  /* Este debe ser el resto del resultado que obtuviste de Google fonts */

}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
  background-image: url(../images/back.jpg);
  background-size: cover;
  background-repeat: repeat;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-left: 0.5em;
  padding: 0.5em;
  font-size: 3em;
}

h2 {
  font-size: x-large;
  padding-top: 1em;
  padding-bottom: 2em;
}

nav {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

#titulo {
  margin-right: 10px;
}

figure,
div#libros,
p {
  display: flex;
  justify-content: center;
  align-items: center;
}

article p {
  background-color: #A88669;
  border-radius: .5em;
}

fieldset {
  background-color: rgba(255, 255, 255, .8);
  color: black;
  background-repeat: repeat;
  background-size: cover;
  margin: 5% 2% 15% 5%;
  padding-left: 2em;
}
#enviar {
  font-size: 1em;
  background-color: black;
  border: none;
  color: #FFFFFF;
  padding: 1em;
  text-align: center;
  margin: 1%;
  cursor: pointer;
}

#cancelar {
  font-size: 1em;
  background-color: white;
  border-color: black;
  color: black;
  padding: 1em;
  text-align: center;
  margin: 1%;
  cursor: pointer;
}

#reloj {
  position: fixed;
  left: 1.5%;
  bottom: 1.5%;
  background-color: #c7b198;
  font-family: 'Orbitron', sans-serif;
  padding: .5em;
  border-radius: 1em;
  white-space: nowrap;
  /* Evita que los span se rompan en varias líneas */
}

#reloj span {
  font-size: 1.5vw;
  /* El tamaño de la fuente se ajusta al ancho de la página */
  color: #52411f;
}
.no-scroll {
  overflow: hidden;
}